<% provide(:title, "Sign in") %>
<h2 class="center">Sign in</h1>

<div class="row">
	<div class="span6 offset3">
    	<%= render 'form' %>
    	<span>New user? <%= link_to "Sign up now!", signup_path, id: "toplink" %></span>
    </div>
</div>
