<% provide(:title, @user.name) %>
<div class="row"> 
  <aside class="span4">
    <section>
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
      <%= link_to "Create a Projection", new_projection_path %>
    </section>
  </aside>
</div>
