<% provide(:title, 'Help') %>
<h2 class="center">Help</h2>

<h4>If you've ever thought one of the following, then you are in the right place:</h4>
<ul>
  <li>Wouldn't it be cool to film a movie based on {insert artist name here}'s collective work?</li>
  <li>I'd like to draw a painting which could be used as cover art or sold as a band poster!</li>
  <li>I have a really neat song I've written, and I want {insert artist name here} to play it!</li> 
</ul>
<h4>When it comes to you, the 
  <span class="emphasis">user</span>, our focus is on two core principles: creator 
  <span class="emphasis">protection</span> and 
  <span class="emphasis">flexibility</span>.
</h4>
We want you to be able to maintain creative control over your work and still have plenty
of options when it comes to artist ownership. We believe you CAN have the best of both worlds.

[More about the features in place that exemplify these principles to come]
