<h3>Here at Projections, we connect
  <span class="emphasis">your ideas</span> to the 
  <span class="emphasis">musicians</span> you love.
</h3><br />
<h3 class="emphasis"><a href=help class="emphasis">Learn more!</a></h3>
<h4>Artist? Get started <%= link_to "here", href: '#', id: "toplink" %>.</h4>
