@import "bootstrap";

/* Universal */

.center {
  text-align:center;
}

/* Header */

#logo {
  img {
    width:40%;
    height:40%;
    padding-left:10px;
    align:center;
    float:left;
    margin-bottom: 20px;
  }
}

.content {
  background:url('top-background.png');
  background-size: 50%;
  .container {
    background-color:white;
    border: 2px double black;
    padding: 10px;
  }
}

.navbar {
  padding-bottom: 20px;
  &:after {
    height:2px;
    background:$gray;
    width:85%;
    display:block;
    content:"";
    margin:10px auto;
  }
}

#navlist {
  float:right;
  li {
    border-left: 2px solid $purple;
    border-bottom: 2px solid $purple;
    margin-right: 5px;
    margin-top: 5px;
    a {
      color:black;
      &:hover {
        text-decoration:underline;
      }
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

