@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Universal */

.center {
  text-align:center;
}

/* Header */

#logo {
  img {
    width:40%;
    height:40%;
    padding-left:10px;
    align:center;
    float:left;
    margin-bottom: 20px;
  }
}

.content {
  background:url('top-background.png');
  background-size: 50%;
  .container {
    background-color:white;
    /*border: 2px double black;*/
    padding: 10px;
  }
}

.navbar {
  padding-bottom: 20px;
  &:after {
    height:2px;
    background:$purple;
    width:85%;
    display:block;
    content:"";
    margin:10px auto;
  }
}

#navlist {
  float:right;
  li {
    border-left: 2px solid $purple;
    border-bottom: 2px solid $purple;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 0;
    padding-bottom: 0;
    a {
      color:gray;
      &:hover {
        text-decoration:underline;
      }
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px, 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  &:hover {
    border: 2px solid purple;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

/* micellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
