<% provide(:title, @projection.name) %>

<div class="center">
  <h2><%= @projection.name %></h2>
  <h3>Category: <%= @projection.category %></h3>
  <p class="center">
    <%= @projection.description %>
  </p>
</div>
