<footer class="footer">
  <span>
  Copyright Mark Willson 2013, All Rights Reserved
  </span>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
</footer>
