<header class="navbar">
    <div class="container center">
      <%= link_to image_tag("logo_final.png", alt: "Projections"), '#', id: "logo" %>
   
      <ul id="navlist" class="nav">
        <li id="navitem"><%= link_to "Home", '#' %></li>
        <li><%= link_to "Help", '#' %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
      
    </div>
</header>

